// TOOLS carousel slider using SLICK carousel plug-in

////////////// SLICK carousel overrides

// stops carousel container receiving blue OUTLINE
// when focussing on slide
.slick-slide:focus {
	outline: none;
}

// positioning of page dot indicators

.slick-dots {
    bottom: -70px;
    margin: 0;

    li {
    	margin: 0 10px;

    	button:before {
    		font-size: 15px;
    	}
    }
}

////////////// END: SLICK carousel overrides


.slide-container {
	padding: 5px;
}

// slide panel settings
.slide-panel {
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

// carousel control buttons
// custom buttons linked to "slick" carousel

$carousel-control-base-size: 60px;

// custom carousel controls container

.slider-controls {
	width: ($carousel-control-base-size*2)+10px;
	height: $carousel-control-base-size;
	float: right;
	margin-right: 10px;
	@media only screen and (max-width: 740px) {
		display: none;
	}
}

// custom carousel control buttons
.custom-carousel-control,
.custom-carousel-control:focus {
	width: $carousel-control-base-size;
	height: $carousel-control-base-size;
	padding: 0;
	background-color: $white;
	font-family: $brand-font-light;
	font-size: $carousel-control-base-size*0.75;
	text-align: center;
	line-height: $carousel-control-base-size;
	color: $grey60;
	border: 1px solid $white;
	outline: none;

	&:first-of-type {
		margin-right: 5px;
	}

	&:last-of-type {
		margin-right: 0;
	}

	&:hover {
		background-color: $grey15;
	}

	// SLICK added DISABLED button class
	// overrides
	&.slick-disabled {
		color: $white;
		background: none;

		&:hover {
			background: none;
			cursor: default;
		}
	}
}

// active slide animation - single row state only

@media only screen and (max-width: 740px) { 

	// .slick-track {
	// 	padding-top:20px;
	// 	padding-bottom: 20px;
	// }

	// .slick-slide {
	// 	transform: scale(1,1);
	// 	transition: all 0.4s ease 0.3s;
	// }

	// .slick-current {
	// 	transform: scale(1.05,1.05);
	// 	transition: all 0.4s ease 0.3s;
	// }

	// .slide-container {
	// 	width: 80%;
	// }

}
