/************ Color scheme ************/

/* monochrome shades */

$white: #ffffff;
$grey3: #f7f7f7;
$grey15: #d9d9d9;
$grey25: #bfbfbf;
$grey60: #666666;
$grey85: #262626;

/* CTA */

$orange1: #f26730;
$orange2: #e57725;
$orange3: #ff8d31;
$blue1: #006193;
$blue2: #016FAD;
$blue3: #00a6e0;
$blue4: #eaf2f6;

/* Messaging */

$green1: #339900;
$green2: #91cc9b;
$red1: #cc3333;