// sandbox


/* ********** UTILITIES ********** */

// img url
$assetPath : "../assets/img/";

/* 

use: url(#{$assetPath}/my-image.png

*/

$top-bar-height: 54px;
$top-title-bar-height: 50px;

// toolkit dev demo styles

.toolkit .panel {
	margin: 2em 0 1em 0;
}

.top-spacer {
	padding-top: 2em;
}

.top-spacer-large {
	padding-top: 4em;
}

.bottom-spacer {
	padding-bottom: 2em;
}

.bottom-spacer-large {
	padding-bottom: 4em;

	@media #{$small-only} { 
		padding-bottom: 2em;
	}

}

.eq-spacer {
	margin: 1em 0;
}

.centered-block-content {
	text-align: center;

	& > {
		display: inline-block;
	}
}

.squeeze20 {
	padding-left: 20px;
	padding-right: 20px;
}

// vertically centered content
.vertical-centered-content {
	position: relative;
	display: table;

	& > * {
		display: table-cell; 
  		vertical-align: middle; 
  		text-align: center;
	}

}

// Styles modifying vanilla Foundation styling

@media #{$large-up} { 

.text-link {
	transition: all 0.2s ease;
	
	:hover {
		transition: all 5s ease;
	}
}


}


// END: Styles modifying vanilla Foundation styling


// buttons

.standard-button {
	@include button(
	$padding: 0,
    // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
    $bg: $orange1,
    // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
    $radius: 3px
  );

	// custom attr.
	font-family: $brand-font-regular;
	width: 158px;
	height: 34px;
	line-height: 34px;

	@media #{$medium-up} { 
		font-size: rem-calc(18);
	}

}


.button {
	&.orange {
		background-color: $orange1;
	}
}
// dev only classes

.dev-bg-grey20pc {
	background-color: rgba(0,0,0,0.2);
}

.dev-bg-grey40pc {
	background-color: rgba(0,0,0,0.4);
}

.dev-bg-white80pc {
	background-color: rgba(255,255,255,0.8);
}
// END dev only classes

// bg-colors
.bg-grey85 {
	background-color: $grey85;
}

.bg-grey60 {
	background-color: $grey60;
}

.bg-grey25 {
	background-color: $grey25;
} 

.bg-grey15 {
	background-color: $grey15;
}

.bg-grey3 {
	background-color: $grey3;
}

.bg-white {
	background-color: $white;
}

// bg images

.bg-misty-bridge {
	background-image: url(#{$assetPath}mist_bridge_1024.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-relax-feet {
	background-image: url(#{$assetPath}casual_relaxing_shoes_full.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-relax-feet-faded {
	position: relative;
	z-index: 1;
	&:before {
		content: ' ';
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    z-index: -1;
	    opacity: 0.2;
		background-image: url(#{$assetPath}casual_relaxing_shoes_full.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.bg-hand-clock {
	background-image: url(#{$assetPath}hand_clock.jpg);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.bg-party-tables{
	background-image: url(#{$assetPath}party_tables_1024.jpg);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

// site main top bar

.site-top-bar {
	width: 100%;
	height: $top-bar-height;
	padding: 7px 20px;
}

// site main top bar items and specific items

.site-top-bar-item {
	width: 40px;
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.logo-small {
	background-image: url(#{$assetPath}logomini_edit.png);
}


// image icons

.hamburger-small {
	background-image: url(#{$assetPath}icon_hamburger_menu.png);
	background-size: 80%;
	background-position: center;
	margin-left: 40px;
}

.account-small {
	background-image: url(#{$assetPath}icon_account.png);
	background-size: 80%;
	background-position: center;
}

.arrow-down-small {
	background-image: url(#{$assetPath}icon_arrow_down.png);
	background-size: 80%;
	background-position: center;
}

.book-small {
	background-image: url(#{$assetPath}icon-book.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

.ledger-small {
	background-image: url(#{$assetPath}icon-ledger.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

.clock-small {
	background-image: url(#{$assetPath}icon-clock.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

.graph-small {
	background-image: url(#{$assetPath}graph.png);
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
}



.page-top-title-bar {
	width: 100%;
	height: $top-title-bar-height;
	padding: 6px 20px;
}

.site-module-product-hero {
	position: relative;
	min-height: 400px;
	width: 100%;
}

.hero-height {
	height: 400px;
}
.hero-text {
	width: 100%;
	height: 400px;
}

.site-module-product-hero-title-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: 2em;
}

.bg-leaves {
	background-image: url(#{$assetPath}dew_drop_flower_bud.png);
	background-size: cover;
	background-position: bottom;
}

.bg-mountain-view {
	background-image: url(#{$assetPath}mountain_view.jpg);
	background-size: cover;
	background-position: bottom;
}

// investment advice module icons

.invest-advice-icon {
	width: 50px; 
	height: 50px;
	margin: 2em auto;
	opacity: 0.4;
}

// replace with text-link
.text-link-blue {
		color: $blue3;
}


.small-disclaimer-text {
	color: $grey60;

	.italics {
		font-style: italic;
	}
}

.text-link-icon {
	display: inline-block;
	padding-right: 30px;

	background-size: 20px;
	background-repeat: no-repeat;
	background-position: right center;

	&.play {
		background-image: url(#{$assetPath}play.png);
	}
}


// text links

.text-icon-link {

	display: block;
	height: 30px;
	width: 100%;
	text-align: left;
	padding-left: 50px;
	position: relative;

	span {
		display: block;
		height: 30px;
	}

	.play-icon {
		position: absolute;
		left: 0;
		top: 0;
		background-image: url(#{$assetPath}play.png);
		width: 30px;
		background-size: 30px;
		background-repeat: no-repeat;
	}

	.text {
		&.blue {
			color: $blue3;
		}
	}
}

.text-link {

	&.centered {
		display: block;
		margin: 0 auto;
	}

	&.blue {
		color: $blue3;
	}
}

.divider {
	display: block;
	width: 100%;
	height:2px;
	margin: 0.5em auto 0 auto;
	border: none;

	&.clamped {
		min-width: 100px;
	}

	&.eq-spaced {
		margin: 1em auto;
	}

	&.thin {
		height: 1px;
	}

	&.small {
		max-width: 70px;
	}

	&.light {
		background-color: $grey15;
	}

	&.midShade {
		background-color: $grey25;
	}

	&.dark {
		background-color: $grey60;
	}
}

.small-disclaimer-text {
	margin-bottom: 3em;
}

.site-module-product-feature-list {
	padding-bottom: 2em;
}

.product-features-item {
	padding: 20px;
	margin-bottom: 2em;

	@media #{$medium-up} { 
		margin-bottom: 0;
	}

}


// investment tools component

.tools-invest {

	.illustration {
		margin: 2em auto;
		width: 200px;
		height: 100px;
	}
}

.tool-title {
	width: 100%;
	height: 75px;
}


// ticked list items

.list-ticked {

	margin: 0;
	padding: 0 0 2em 0;
	list-style-type: none;
	
	li {
		padding: 0 0 1em 30px;
		background-image: url(#{$assetPath}tick.png);
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: 0 1px;
	}
}

// site Footer

.footer {
	padding: 3em 0 4em 0;
}

.footer-breadcrumb {
	color: $grey60;

	a {
		color: $grey60;

		&:hover {
			color: $grey85;
		}
	}
}


.site-footer-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 98%;
}

.list-item a {
	color: $grey60;

	&:hover {
		color: $grey85;
	}

}

.list-title {
	width: 100%;
	color: $grey60;
	font-size: 1.05em;
	font-family: $brand-font-bold;
}

.long-list {
	margin-left: 1%;
}

.long-list .list-item {
	width: 50%;
	float: left;
}

