// sandbox


/* ********** UTILITIES ********** */

// img url
$assetPath : "../assets/img/";

/* 

use: url(#{$assetPath}/my-image.png

*/

$top-bar-height: 54px;
$top-title-bar-height: 50px;


.top-spacer {
	padding-top: 2em;
}

.centered-block-content {
	text-align: center;

	& > {
		display: inline-block;
	}
}

.squeeze20 {
	padding-left: 20px;
	padding-right: 20px;
}


// dev only classes

.dev-bg-grey20pc {
	background-color: rgba(0,0,0,0.2);
}

.dev-bg-grey40pc {
	background-color: rgba(0,0,0,0.4);
}

.dev-bg-white80pc {
	background-color: rgba(255,255,255,0.8);
}
// END dev only classes

// bg-colors
.bg-grey60 {
	background-color: $grey60;
}

.bg-grey25 {
	background-color: $grey25;
} 

.bg-grey15 {
	background-color: $grey15;
}

.bg-grey3 {
	background-color: $grey3;
} 
// site main top bar

.site-top-bar {
	width: 100%;
	height: $top-bar-height;
	padding: 7px 20px;
}

// site main top bar items and specific items

.site-top-bar-item {
	width: 40px;
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.logo-small {
	background-image: url(#{$assetPath}logomini_edit.png);
}

.hamburger-small {
	background-image: url(#{$assetPath}icon_hamburger_menu.png);
	background-size: 80%;
	background-position: center;
	margin-left: 40px;
}

.account-small {
	background-image: url(#{$assetPath}icon_account.png);
	background-size: 80%;
	background-position: center;
}

.arrow-down-small {
	background-image: url(#{$assetPath}icon_arrow_down.png);
	background-size: 80%;
	background-position: center;
}

.page-top-title-bar {
	width: 100%;
	height: $top-title-bar-height;
	padding: 6px 20px;
}

.site-module-product-hero {
	position: relative;
	min-height: 400px;
	width: 100%;
}

.site-module-product-hero-title-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: 2em;
}

.bg-leaves {
	background-image: url(#{$assetPath}dew_drop_flower_bud.png);
	background-size: cover;
	background-position: bottom;
}

// text links

.text-icon-link {

	display: block;
	height: 30px;
	width: 100%;
	text-align: left;
	padding-left: 50px;
	position: relative;

	span {
		display: block;
		height: 30px;
	}

	.play-icon {
		position: absolute;
		left: 0;
		top: 0;
		background-image: url(#{$assetPath}play.png);
		width: 30px;
		background-size: 30px;
		background-repeat: no-repeat;
	}

	.text {
		&.blue {
			color: $blue3;
		}
	}
}

.text-link {

	&.centered {
		display: block;
		margin: 0 auto;
	}

	&.blue {
		color: $blue3;
	}
}

.divider {
	display: block;
	width: 100%;
	height:2px;
	margin: 0.5em auto 0 auto;

	&.small {
		max-width: 70px;

	}

	&.light {
		background-color: $grey15;
	}

	&.midShade {
		background-color: $grey25;
	}

	&.dark {
		background-color: $grey60;
	}
}

.small-disclaimer-text {
	margin-bottom: 3em;
}

.site-module-product-feature-list {
	padding-bottom: 2em;
}

.product-features-item {
	padding: 20px;
}

.list-ticked {

	margin: 0;
	padding: 0 0 2em 0;
	list-style-type: none;
	
	li {
		padding: 0 0 1em 30px;
		background-image: url(#{$assetPath}tick.png);
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: 0 3px;
	}
}

// site Footer

.footer {
	padding: 3em 0 4em 0;
}

.footer-breadcrumb {
	color: $grey60;

	a {
		color: $grey60;
	}
}


.site-footer-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 98%;
}

.list-item {
	color: $grey60;
}

.list-title {
	width: 100%;
	color: $grey60;
	font-family: $brand-font-bold;
}

.long-list {
	margin-left: 1%;
}

.long-list .list-item {
	width: 50%;
	float: left;
}

