<!-- feature item -->
<!-- Inset grid -->
<div class="small-12 medium-4 columns">
	<section class="product-features-item dev-bg-grey20pc">
		
		<h4>Product</h4>

		<h3 class="text-center">Junior ISA</h3>

		<hr class="divider dark small"/>
		
		<div class="squeeze20">

			<ul class="list-ticked">
				<li>lorem ipsum dolor sit in quam</li>
				<li>consectetur adipiscing elit</li>
				<li>amet Donec aliquam ante</li>
				<li>vel tempor lacus eleifend</li>
				<li>dolor sit in quam commodo</li>
			</ul>
			<div class="centered-block-content">
				<a href="" class="text-link blue">Explore Stocks &amp; Shares ISA &gt;</a>
			</div>
			
			<div class="centered-block-content top-spacer">
				<a href="" class="button small">Open this ISA</a>
			</div>

		</div>

	</section>
</div>

<!-- CLOSE: feature item -->