<!-- feature item -->
<div class="small-12 medium-4 columns">
	<section class="product-features-item bg-white">
		
		<h5 class="theme-tag grey25">Product</h5>

		<h3 class="text-center">Fidelity Lifetime ISA</h3>

		<hr class="divider dark small"/>
		
		<div class="squeeze20 top-spacer">

			<ul class="list-ticked" data-equalizer-watch>
				<li>A tax-efficient way to invest &pound;4,000 this year</li>
				<li>You could receive an additional &pound;1,000 top-up from HMRC</li>
				<li>Access to your money is limited and could incur charges</li>
				<li>Minimum lump sum investment of &pound;500 or &pound;50 every month</li>
				<li>Open to UK residents aged 18 - 40 years</li>
			</ul>
			<div class="centered-block-content">
				<a href="" class="text-link blue">Explore Fidelity Lifetime ISA &gt;</a>
			</div>
			
			<div class="centered-block-content top-spacer">
				<a href="" class="button small orange">Open this ISA</a>
			</div>

		</div>

	</section>
</div>

<!-- CLOSE: feature item -->